<div class="hero-banner">
  <div class="hero-title">Lateral On-boarding Module</div>
  <div class="hero-description">
    Welcome to Infosys! We are delighted to have you on board. We have designed an Onboarding module
    that will help you learn more about the Company, our vision, and also get a sneak peek into the
    experience at Infosys. This module is spread out over 4 weeks and each week consists of informative
    learning videos that will help you navigate your journey at Infosys.
  </div>
</div>
